<header class="jumbotron-fluid text-center py-2 mx-0 px-0 text-light">
  {% assign default_paths = site.pages | map: "path" %}
  {% assign page_paths = site.header_pages | default: default_paths %}
  {% if site.profile-image and page.url == "/" %}
  <img src="{{ site.profile-image }}" class="rounded-circle img-thumbnail img-fluid"
    style="width:50%; margin: 0 auto; display:block; height: auto; max-width:320px;" />
  {% endif %}
  <div class="display-4">
    {% if site.short_title %}
      {{ site. short_title | escape }}
    {% else %}
      {{ site.title | escape }}
    {% endif %}
  </div>
  <p class="lead">{{ site.description | escape | upcase }}</p>
  {% include social.html %}
  {% if page_paths %}
  <nav class="navbar navbar-expand-sm justify-content-center" id="topNav">
    <ul class="navbar-nav navbar-expand-sm">
      {% for path in page_paths %}
      {% assign my_page = site.pages | where: "path", path | first %}
      {% if my_page.title %}
      {% if page.url == my_page.url %}
      <li class="nav-item px-3 bg-white">
        <a class="nav-link text-primary"
          href="{{ my_page.url | relative_url }}#{{ my_page.title | slugify }}">{{ my_page.title | escape }}</a>
      </li>
      {% else %}
      <li class="nav-item px-3">
        <a class="nav-link text-white" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
      </li>
      {% endif %}
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
  {% endif %}

</header>