@import "bootstrap/scss/functions";
// @import "bootstrap/scss/custom";
@import "bootstrap/scss/variables";

$primary: #851be7;


$theme-colors: ("primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark);

@import "bootstrap/scss/bootstrap";

header.jumbotron-fluid {
  background-color: $primary;
}

.svg-icon {
  width: 32px;
  height: 32px;
  filter: invert(100%);
}

#topNav {
  background-color: transparent !important;
  li:hover {
    background-color: $light;
    a.nav-link {
      color: $primary !important;
    }
  }
}
html, body {
	height: 100%;
	padding: 0px;
	margin: 0px;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: 0;
}