---
layout: page
---
{{ content }}
<div class="card-group">
    {% for blogpost in site.blogposts %}
    <div class="card col-md-4 col-12">
        <img class="card-img-top" src="{{ blogpost.image | relative_url }}" alt="{{ blogpost.title }}">
        <div class="card-body">
            <h5 class="card-title"><a class="text-dark" href="{{ blogpost.url | relative_url }}">{{ blogpost.title }}</a></h5>
            <p class="card-text">
                {% for tag in blogpost.tags %}
                    <small class="badge badge-dark">{{ tag }}</small>
                {% endfor %}
            </p>
            <p class="card-text">{{ blogpost.description }}</p>
            <p class="card-text"><small>Last updated: </small><small class="text-muted">{{ blogpost.last_modified_at | date: "%a, %b %d, %y" }}</small></p>
        </div>
    </div>

    {% endfor %}
</div>