---
layout: page
---

{{ content }}

{% for contribution in site.contributions %}
<div class="d-flex flex-column">
  <div>
    <h4><a href="{{ contribution.repo-link }}" style="color: black;">{{ contribution.title | escape }}</a></h4>
  </div>
  <div>{{ contribution.brief | escape }}</div>
  <div>
    <strong>Contributions:</strong> {{ contribution.total_pulls }} (
    {% if contribution.pulls %}
    {% assign pulls = contribution.pulls %}
    {% for pull in pulls %}
    <a href="{{ contribution.repo-link }}/pull/{{ pull }}" target="_blank">#{{ pull }}</a>&nbsp;
    {% endfor %}
    {% endif %}
    )
  </div>
  <div><a class="btn btn-primary" href="{{ contribution.repo-link }}" target="_blank">Visit Project</a></div>
</div>
{% endfor %}