---
layout: page
---

{{ content }}
{% for project in site.projects %}
<div class="d-flex">
<div class="d-flex flex-column">
  <div><h4><a href="{{ project.url | relative_url }}" style="color: black;">{{ project.title | escape }}</a></h4></div>
  <div>{{ project.description | escape }}</div>
  <div><a class="btn btn-primary" href="{{ project.url | relative_url }}">View More</a></div>
</div>
<div class="ml-md-auto ml-0 d-none d-md-block">
    <a
    href="{{ project.url | relative_url }}"
    title="{{ project.description | escape }}"
  >
    <img class="img-fluid" style="width:128px; height: auto;"
      src="{{ project.icon | escape }}"
      alt="{{ project.title | escape }}"
    />
  </a>
</div>
</div>
{% endfor %}