---
layout: page
---

<div class="">
  {{ page.description }}
</div>
{% if page.image %}
<img class="img-fluid" style="width:80%; height: auto; margin:0 10%;" src="{{ page.image }}" alt="{{ page.title }}"/>
{% endif %}
<div class="container pt-2">{{ content }}</div>

<div class="container p-0">
  <p class="text-center">
    <strong>Technologies:</strong> {{ page.tech }}
  </p>
  <p class="text-center">
    {% if page.contributors %}
        {% assign contributors = page.contributors %}
        <strong>Contributors:</strong> 
        {% for author in contributors %}
            <a href="https://github.com/{{ author }}" target="_blank">@{{ author }}</a>
        {% endfor %}        
    {% endif %}
  </p>
  {% if page.skills %}
  <p class="text-center">
    <strong>Skills:</strong> {{ page.skills }}
  </p>
  {% endif %}
  {% if page.feature-link %}
  <p class="text-center"><a class="btn btn-primary" href="{{ page.feature-link }}" target="_blank">More</a></p>
  {% endif %}

</div>
